---
import Layout from "../layouts/Layout.astro";
---

<Layout title="포항공과대학교 방송국 PBS">
  <main class="min-h-screen pb-5">
    <section class="py-24">
      <p
        class="container mb-8 md:mb-10 text-white/50 text-xs md:text-xl font-medium uppercase"
      >
        Feed
      </p>
      <h1
        class="container mb-8 md:mb-10 text-4xl md:text-7xl lg:text-8xl font-bold"
      >
        PBS를 톺아보는<br />새로운 관점.
      </h1>
      <p
        class="container mx-auto mb-8 md:mb-10 text-sm md:text-2xl text-white/75"
      >
        <span class="border px-2 py-1.5 text-sm rounded-md">
          2022년 겨울 공개
        </span>
      </p>
    </section>
  </main>
</Layout>

<style lang="postcss">
  .link {
    @apply text-rose-500 text-lg hover:underline;
  }
  .link::after {
    @apply content-["_↗"] align-text-top;
  }
</style>
