---
export interface Props {}
---

<footer class="w-full pt-3 pb-20 bg-black">
  <div class="container text-sm">
    <h1 class="mb-2 text-white/75">포항공과대학교 방송국 PBS</h1>
    <ul class="text-white/50">
      <li>경상북도 포항시 청암로 77 학생회관 3층</li>
      <li>
        <a href="mailto:pbs+contact@g.postech.edu">pbs+contact@g.postech.edu</a>
      </li>
    </ul>
  </div>
</footer>
